body{
    font-family: 'Roboto Mono', monospace;
}

.color-panel {
    width: 50%;
    height: 100vh;
    color: white;
    display: flex;
  align-items: center;
  justify-content: center;
  /* text-transform: uppercase; */
  font-size: 2em;
  letter-spacing: 7px;

}

#comp-color{
    float: left;
    background-color: rgb(167, 23, 80);
}

#player-color{
    float: right;
    background-color: rgb(8, 8, 250);
    text-align: center;
}



/* body{
    background-color: red;
} */